.modal {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 1000px;
    margin: 20px auto;
}

.modal-header {
    background: #eee;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.modal-body {
    padding: 20px;
}

.form-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: #dddddd 1px solid;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-basis: 50%;
    padding: 15px;
    margin-bottom: 10px;
}


.form-section textarea {
    width: 100%;
    height: 50%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
}

.section-name {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.form-section .section-name {
    margin-top: 0;
}


input, select, textarea, time {
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-row {
    display: flex;
    gap: 10px;
}

.input-row > * {
    flex: 1;
    box-sizing: border-box;
    margin-right: 10px;
}

.input-row > *:last-child {
    margin-right: 0;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.create-job, button.save-info {
    width: auto;
    white-space: nowrap;
}

.create-job {
    background-color: #5aac44;
    color: white;
}

.save-info {
    background-color: #f0ad4e;
    color: white;
}

.select-style {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    appearance: none;
    background-image: url('icons/down-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    width: 100%;
    cursor: pointer;
}

input.highlight {
    border: 2px solid red;
}

/* Стили для отображения сообщения о валидации */
input:invalid:focus:after {
    content: attr(data-validation-message);
    color: red;
    position: absolute;
}

@media (max-width: 768px) {
    .modal {
        width: 90%;
        margin: 10px auto;
    }

    .form-row,
    .input-row {
        flex-direction: column;
        gap: 0;
    }

    .form-section {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .input-row > * {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .form-actions {
        flex-direction: column;
        align-items: stretch;
    }

    button.create-job,
    button.save-info {
        width: 100%;
        margin-bottom: 10px;
    }
}
